<div class="carousel-item active">
    <img src="/public/img/landingPage/{{category_name}}" alt="{{category_name}}" class="d-block w-100 c-vh">
    <div class="container c-container">
        <div class="carousel-caption">
            <h1>{{category_name}}<h1>
                    <p><a class="btn btn-lg btn-primary" href="/product/{{product.id}}">Purchase now</a></p>
        </div>
    </div>
</div>