<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NAME OF WEBPAGE</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header id="main-header">
    <span id="nav">
      <a href="/" id="jumbotron">NAME OF WEBPAGE</a>
      <span id="navOptions">
        {{#if admin}}
        <a id="adminTools" data-status="off">Admin Tools: Off</a>
        {{/if}}
        <a href="/">Home</a>
        <a href="/dashboard">OTHER WEBPAGE</a>
        {{#if logged_in}}
        <a id="logout">logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </span>
    </span>
  </header>
  {{{body}}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>