<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="../public/css/404.css">
</head>
<body>

    <div class="container">

        <div class="display">
            <div class="error-contents"> 
                <h1 class="error"> Error! </h1>
                <h1 class="four"> 404 </h1>
                <p class="exist">
                    The page you are looking for does not exist
                </p>
            </div>
            <div class="description">
                <p class="line1">
                    If you were searching for a game, check the spelling and spacing.
                </p>
                <p class="line2">
                    If you were sent here for any other reason, contact an administrator
                </p>
            </div>
        </div>   
    </div>
    
</body>
</html>