<div class="row" id="loginPage">
  <div class="login-card" id="login-card">
    <h2 id="logInHeader">Login</h2>

    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
        <p class="signupHints" id="loginHintEmail">example@email.com</p>
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
        <ul class="signupHints" id="loginHintPassword">
          <li>
            1 lowercase character
          </li>
          <li>
            1 uppercase character
          </li>
          <li>
            1 special character
          </li>
          <li>
            1 number
          </li>
          <li>
            8 characters minimum
          </li>
        </ul>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="login">Login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 id="signUp">Sign Up</h2>
    <form class="form signup-form" id="signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
        <p class="signupHints" id="signupHintName">Name must be Alphanumeric (a-zA-Z0-9) Min 4 characters</p>
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
        <p class="signupHints" id="signupHintEmail">example@email.com</p>
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <ul class="signupHints" id="signupHintPassword">
          <li>
            1 lowercase character
          </li>
          <li>
            1 uppercase character
          </li>
          <li>
            1 special character
          </li>
          <li>
            1 number
          </li>
          <li>
            8 characters minimum
          </li>
        </ul>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="sign_up" disabled>Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>