/* color variables */
:root {
    --darkblue: #283954;
    --tan: #BE9266;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    background-color: var(--tan);
    background-image: url('../../assets/img/hat-on-rock\ narrow.jpg');
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.display {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.error-contents {

}

.error {

}

.four {
    font-size: 3rem;
    margin: 5px;
}

.exist {
    margin: 5px;
    font-size: 1.5rem;
}

.description {
    margin: 10px;
}