body {
    font-family: 'EB Garamond', serif;
}

header {
    position: fixed;
    height: auto;
    font-size: 2.5rem;
    margin-left: 60px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid black;
    height: 100vh;
    width: auto;
}

li {
    margin: 20px 0px;
}

a {
    margin: 10px;
}

i {
    font-size: 25px;
    color: black;
}
main {
    /* border: 1px solid black; */
}
