/* color variables */

:root {
    --darkblue: #283954;
    --lightblue: #0dcaf0;
    --tan: #BE9266;
    --gray: #AFB0B1;
}

body {
    font-family: 'EB Garamond', serif;
    min-width: 500px;
}

/* Nav Styling */
nav {
    background-image: url(../img/photographer-white.jpg);
    background-color: var(--tan);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

li {
    margin: 20px 0px;
}

a {
    margin: 10px;
}

i {
    font-size: 25px;
    color: black;
}

i:hover {
    color: var(--lightblue);
}

/* Header Styling */
header {
    width: 100%;
    text-align: right;
    font-size: 2.5rem;
    margin: auto;
    padding: 10px 10px 0px 63px;
}

header a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--lightblue);
}

.header {
    width: 100%;
    height: 65px;
    background-color: black;
}

/* Main Page Content Styling */
main {
    background-image: url(../img/grayscale-clothes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    display: flex;
    padding-left: 51px;
    margin: auto;
}

section {
    width: 100%;
}

/* Divider Styling */
hr {
    margin: 0px 0 0px 51px;
}

/* Quote Card styling */
.quote-container {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: var(--tan);
}

.quote {
    font-size: 4vw;
}
/* Products Container Styling */
#product-container {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 auto;
    border-radius: 0;
}

/* Form Styling */
form {
    display: inline-block;
    width: 80%;
    margin: 20px auto;
}

.form-control {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

input {
    padding: 10px;
    height: 38px;
    margin-right: 20px;
}

::placeholder {
    color: white;
}

div i {
    color: white;
    font-size: 2vh;
    margin-right: 10px;
}

.btn {
    color: white;
    background-color: black;
    border: 1px solid var(--gray);
    width: 200px;
}

/* Product Header */
.product-title {
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid black;
}

#product-name {
    font-size: 3vh;
}

/* Card styling */
.card {
    margin: 20px;
    background-color: var(tan);
    width: 50%;
}

.card-title {
    margin: 10px;
}

.card-img {
    margin: auto 0;
    height: 100px;
}

.card-contents {
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: 3vh;
}

.category {
    color: var(--gray);
    opacity: 50%;
    font-size: 3vh;
}

.dolla {
    color: var(--tan);
    opacity: 30%;
}
.price {
    text-align: right;
    font-size: 5vh;
}

/* Align Right */

.gandhi,
.right {
    text-align: right;
}

#quote {
    margin: 10px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .gandhi {
        font-size: 5vw;
    }
}