/* color variables */
:root {
    --darkblue: #283954;
    --tan: #BE9266;
}

body {
    font-family: 'EB Garamond', serif;
    /* color: white; */
}

nav {
    background-image: url(../../assets/img/photographer-white.jpg);
    background-color: var(--tan);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid black;
    height: 100vh;
    width: auto;
}

li {
    margin: 20px 0px;
}

a {
    margin: 10px;
}

i {
    font-size: 25px;
    color: black;
}

i:hover {
    color: blue;
}

header {
    width: 100%;
    text-align: right;
    font-size: 2.5rem;
    margin: auto;
    padding: 10px 10px 0px 63px;
}

main {
    background-image: url(../../assets/img/grayscale-clothes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 51px;
}

hr {
    margin: 10px 0 0px 51px;
}

.quote-container {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 90%;
    margin: 20px;
    color: var(--tan);
}

.card {
    margin: 20px;
    width: 90vw;
    background-color: var(tan);
}

.card-title {
    margin: 10px;
}

.gandhi,
.right {
    text-align: right;
}

.products,
.quote {
    font-size: 3rem;
}
